@model RosterViewModel

@{
    ViewData["Title"] = "Roster";
}

<h1 class="text-3xl font-heading font-bold mb-8">Current Roster</h1>

@foreach (var category in Model.ActiveAthletes)
{
    @await Html.PartialAsync("_EventCategoryRosterSection", category)
}

<h1 class="text-3xl font-heading font-bold mb-8">Former Athletes</h1>

@foreach (var category in Model.FormerAthletes)
{
    @await Html.PartialAsync("_EventCategoryRosterSection", category)
}