@model Dictionary<EventCategory, List<AthleteViewModel>>

@{
    ViewData["Title"] = "Roster";
}

<h1 class="text-3xl font-heading font-bold mb-8">Current Roster</h1>

@foreach (var category in Model)
{
    @await Html.PartialAsync("_EventCategoryRosterSection", category)
}